* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --yellow: #F4D04E;
    --black: #111111;
    --white: #ffffff;
    --grey: #7F7F7F;
}

body {
    font-family: 'Figtree', sans-serif;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);
    color: var(--black);
    min-height: 100vh;
}

.card {
    min-width: 20.44rem; 
    max-width: 24rem;
    margin: 0 1.5rem;
    display: grid;
    place-items: center;
    background-color: var(--white);
    border-radius: 1.25rem;
    box-shadow: .5rem .5rem var(--black);
    border: 1px solid var(--black);
    display: grid;
    grid-template-rows: 1.5rem 14rem 2.375rem 1.875rem 2.625rem 3.938rem 1.5rem 2rem 1.5rem;
    grid-template-columns: 1.5rem 2.75rem minmax(14.6875rem, 18.25rem) 1.5rem;
    grid-template-areas: 
    ". . . ."
    ". logo logo ."
    ". tag tag ."
    ". date date ."
    ". title title ."
    ". description description ."
    ". . . ."
    ". auth-logo auth-name ."
    ;
    cursor: pointer;
}


.main-logo-container {
    background: url('../img/blogimage.png') no-repeat center top;
    border-radius: .625rem;
    align-self: self-start;
    grid-area: logo;    
    height: 100%;
    width: 100%;
}



.tag {
    background-color: var(--yellow);
    font-size: .75rem;
    font-weight: 800;
    line-height: 1.125rem;
    padding: 0.25rem .75rem;
    border-radius: .25rem;
    grid-area: tag;
    justify-self: self-start;
    align-self: self-start;
    height: 1.625rem;
    width: 4.5625rem;
    
}

.published-date {
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.125rem;
    grid-area: date;
    justify-self: self-start;
    align-self: self-start;
}

.title {
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 1.875rem;
    grid-area: title;
    justify-self: self-start;
    align-self: self-start;
}

.title:hover {
    color: var(--yellow);
}

.description {
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.313rem;
    color: var(--grey);
    grid-area: description;
    justify-self: self-start;
    text-align: left;
}

.author-image {
    width: 2rem;
    height: 2rem;
    grid-area: auth-logo;
    justify-self: self-start;
}

.author-name {
    font-size: .875rem;
    font-weight: 800;
    line-height: 1.3125rem;
    grid-area: auth-name;
    justify-self: self-start;
}

@media screen and (min-width:425px) {
   .card {
    transition: all 300ms;
        grid-template-rows: 1.5rem 14rem 2.563rem 2.063rem 3rem 4.5rem 1.5rem 2rem 1.5rem;
   }

   .card:hover {
    box-shadow: 1rem 1rem var(--black);
    transition: all 300ms;
   }

   .tag {
        width: 5.125rem;
        height: 1.813rem;
   }

   .tag, .published-date {
        font-size: 0.875rem;
        line-height: 1.31rem;
   }

   .title {
        font-size: 1.5rem;
        line-height: 2.25rem;
   }

   .description {
        font-size: 1rem;
        line-height: 1.5rem;
   }
}